/*
* ------------------------------------
*    Page layout
* ------------------------------------
*/
body {
	font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
	color: #fff;
	background: #222;
}